# Sensitive information
.env
*.env
!.env.template

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# Local development
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/